.contact-persons {
    --contact-persons-padding: 25px;
    --contact-persons-margin: 25px;
    --contact-persons-min-height: 70px;
    --contact-persons-child-margin: 15px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
}

.contact {
    display: flex;
    justify-content: center
}

.contact h1 {
    margin-bottom: 4vh;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
}

.contact .form-container {
    margin-right: 20px !important;
    margin-left: 20px !important;
    width: fit-content;
}

.contact-persons {
    max-width: 55vw;
    width: fit-content;
}

.contact-persons article {
    flex: 1;
    padding: var(--contact-persons-padding);
    margin: 0 10px 20px 10px;
    width: fit-content;
    min-width: 280px;
    max-width: min(24vw, 400px);
    height: min-content;
    display: flex;
    flex-direction: column ;
    justify-content: center;
}

.contact-person h4{
    width: 100%;
    text-align: center;
    margin: 0 auto 20px auto;
    font-weight: 600;
}

.contact-person i.bi-telephone-fill, .contact-person i.bi-envelope-fill {
    margin: 0 10px;
}

.contact i.bi-person-fill{
    margin: 0 auto;
    font-size: 72px;
}

.iconContainer {
    display: flex;
    justify-content: center;
    margin: auto;
}

.contact-person strong{
    width: 100%;
    text-align: center;
    margin: 5px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;    
    font-size: 0.9rem;
}

.contact-person h3 {
    margin: 10px auto 5px auto;
    text-align: center;
}

.contact-persons h2 {
    line-height: 1.2;
    min-height: var(--contact-persons-min-height);
}

.contact-persons div * {
    margin: var(--contact-persons-child-margin);
}

.contactLink a {
    color: var(--fourth-color);
    margin: 0;
    text-decoration: none;
}

.contactLink a:hover {
    text-decoration: underline;
}

@media all and (max-width: 768px) { 
    .contact-persons article {
        max-width: 300px;
        width: min-content;
        flex-grow: 1;
        padding: 15px;
        justify-content: center;
        margin: 15px;
    }
    .contact-persons  {
        width: 95%;
        flex-wrap: wrap;
        display: flex;
    }
    .contact-person * {
        max-width: 95%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) { 
    .contact-persons  {
        width: 90%;
        flex: 1;
    }
}

