.demands {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goals article {
    text-align: center;
    width: 95vw;
    font-size: 1.2rem;
}

.goals h3 {
    color: var(--white);
    text-align: center;
    text-shadow: 5px 5px var(--second-color), 2.5px 2.5px 10px var(--black);
}

.goals i {
    color: var(--white);
    font-size: 48px;
    margin-right: 10px;
    text-shadow: 5px 5px var(--first-color), 5px 5px 5px var(--white);
}

.about article p,
.goals article p {
    margin: 10px 0;
}

.aboutText{
    font-size: 1.2rem;
}

.about article{
   
   max-width: 90vw;
}

.logoContainer {
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .goals i {
        font-size: 48px;
        margin-right: 5px;
    }

}

@media (min-width: 1200px) {
    .goals article {
        width: 30vw;
        padding: 20px 30px;
    }

    .about article {
        max-width: 1200px;
    }

    .aboutText {
        width: 60%;
    }

    .logoContainer {
        width: 35%;
    }

    .logo {
        width: 100%;
    }

    .demands article{
        max-width: 48%;
    }
    .demands{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
    }
}

@media (max-width: 1199px) {
    .logoContainer {
        display: none;
    }
}
