.citiesInRegion h4,
.region h3 {
  border: 3px solid var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--white);
  background-color: var(--first-color);
  white-space: nowrap;
  font-size: 1.5rem;
  margin: 1rem;
  transition: 0.5s ease-out;
  text-align: center;
}

.citiesInRegion, .citiesInRegion h4 {
  width: auto;
}

.citiesInRegion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newLocalGroup {
  margin-top: 10vh;
}

.map svg path {
  cursor: pointer;
  fill: var(--second-color);
  stroke: var(--white);
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-linecap: round;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s ease-out;
}

.map svg path:hover {
  fill: var(--first-color);
  stroke-width: 8;
}

.map svg path:focus {
  outline: none;
}

.region, .region h3 {
  width: 100%;
  transition: 0.5s ease-out;
}

.citiesInfo {
  width: fit-content;
  height: auto;
  transition: 0.5s ease-out;
  font-size: 1.2rem;
}

.map {
  width: 90%;
  height: 90%;
  max-height: 68vh;
  margin: 0;
  animation: default-animation 1s ease-in-out 0s 1 normal forwards;
}

.voivodeshipName {
  margin-bottom: 30px;
  font-size: clamp(24px, 2vw, 48px);
  transition: color 0.3s ease-in-out;
}

.cityIconContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 30%;
}

.cityIcon {
  display: block;
  font-size: 120px;
  color: var(--first-color);
}

.cityDetails {
  width: 65%;
  transition: color 0.3s ease-in-out;
  margin-top: 10px;
}
a.joinUsButton {
  color: var(--white);
}

@media all and (max-width: 768px) {
  .cities h1{
    font-size: clamp(24px, 6vw, 48px);
  }
  
  .cities h2{
    font-size: unset;
    margin-bottom: 10px;
  }
  .map {
    height: 40vh;
    max-width: 80vw;
  }
  .cities {
    align-content: flex-start;
  }
  .cityInfo h3 {
    margin: 0;
  }
  .citiesInfo, .cityInfo  {
    max-width: 320px;
  }
  .cityInfo {
    width: 90%;
    margin: 0;
  }
}

@media all and (max-width: 1400px) {
  .cityIconContainer {
    display: none;
  }
  .cityDetails {
    width: 100%;
  }
}  

@media all and (min-width: 768px) and (max-width: 1024px) {
  .map {
    height: 40vh;
    font-size: 18px;
  }
  .cities {
    align-content: flex-start;
  }
  .citiesInfo {
    font-size: 1.1rem;
  }
  .map button {
    font-size: 1.1rem;
  }
  .cityInfo {
    margin-top: 5px;
  }
  
}

@media all and (min-width: 1024px) {
  .map {
    width: 45vw;
  }

  .citiesInfo {
    width: 30vw;
    height: auto;
    margin-left: 30px;
  }

  .citiesInfo h1, .citiesInfo h2 {
    margin-top: 12vh;
  }

  .citiesInRegion button {
    margin: 10px 10px 5px 0px;
  }
}

.chosen {
  fill: var(--fourth-color) !important;
  background-color: var(--fourth-color);
  color: var(--white);
}

.cities button, .cities a.startNewGroup{
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.cityInfoHeader {
  display: flex;
  align-items: center;
  margin: 5px 0;
  width: 100%;
}

.social-media-link {
  padding: 0;
}

.cityInfo {
  display: flex;
  flex-wrap: wrap;
  transition: color 0.3s ease-in-out;
  width: fit-content;
}

.cityInfo p {
  margin-bottom: 0;
}
.peopleData {
  margin-top: 10px;
}
.personDetails {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: max-content;
}

.personDetails .social-icon {
  font-size: 24px;
  margin-left: 5px;
  color: var(--fourth-color);
  transition: color 0.3s ease-in-out;
}

.personDetails i {
  margin-right: 10px;
}

.socialIcons {
  margin-left: 10px;
}

.socialIcons .social-icon {
  font-size: 36px;
  margin: 5px;
  color: var(--fourth-color);
  transition: color 0.3s ease-in-out;
}

.startNewGroup {
  margin: 20px auto;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.25em 0.5em;
}

.cities .joinUsButton {
  width: fit-content;
}
p.contactUs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.citiesInRegion button {
  margin: 10px;
}

.citiesInRegion a {
  margin: 20px 0px;
}

.personDetails a.social-media-link {
  margin: 0;
}
