.newsletter {
    display: flex;
    justify-content: center;
    padding: 40px;
  }

.newsletterIcon {
    margin-right: 10px;
    font-size: 36px;
}

.newsletterButton {  
    align-items: center;
    background-color: var(--second-color);
    border: none;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-family: var(--head-font);
    font-weight: 900;
    font-size: 24px;
    opacity: 100%;
    padding: 0.25em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    transition: all 0.3s ease-out;
  }

  .newsletterButton:hover {
    background-color: var(--first-color);
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    }

    .newsletter .agreement {
        margin: 10px auto;
    }

    .newsletterIcon {
        margin-right: 10px;
        font-size: 36px;
      }