.newsletter {
    display: flex;
    justify-content: center;
    padding: 40px;
  }

  .newsletterButton {  
      align-items: center;
      background-color: var(--second-color);
      border: none;
      border-radius: 10px;
      box-shadow: var(--shadow);
      -webkit-box-shadow: var(--shadow);
      -moz-box-shadow: var(--shadow);
      color: var(--white);
      cursor: pointer;
      display: inline-flex;
      font-family: var(--main-font);
      font-size: 1rem;
      font-weight: 900;
      gap: .5ch;
      padding: var(--margin-normal);
      text-transform: uppercase;
      transition: var(--transition);
      width: fit-content;
  }

  .newsletterButton:hover {
    background-color: var(--first-color);
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    }

    .newsletter .agreement {
        margin: 10px auto;
    }
